@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CloudAcademy v1.0.1</h1>
    <p>Azure, Terraform, Ansible, PowerShell</p>
</div>

